.mapmain {
  display: flex;
  justify-content: center;
  gap: 4.5em;
}

.Cantar {
  height: 600px;
  width: 600px;
}

.leaflet-container {
  display: flex;
  align-items: center;
  height: 450px;
  width: 600px;
  border-radius: 20px;
}

.mapcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.shonibudi {
  display: flex;
  align-items: left;
  width: 1440px;
}

.titlumap {

  align-items: left !important;
  flex-shrink: 0;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 70px;
  margin-bottom: 22px;
  font-family: "Sen";
}

.totuldinmap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}