@import url("https://fonts.googleapis.com/css2?family=Sen:wght@500;600&family=Sora:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: "Sen";
  z-index: 1;
  height: 55px;
  background-color: #232536;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.birouname {
  color: white;
  font-size: 20px;
  margin-left: 5%;
}

.menu {
  display: flex;
  margin-left: auto;
  list-style: none;
}

.menuitem {
  margin-left: 2rem;
  color: white;
  font-size: 15px;
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: auto;
    flex-direction: column;
    text-align: center;
  }

  .menu {
    margin: 1.5rem 0;
  }
}
