@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Sen:wght@400;500&display=swap');

.recenziimain {
    width: 1340px;
    height: 464px;
    background: #F4F4F4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


.parteastanga {
    margin: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 430px;

}

.parteadreapta {

    margin: 70px;
    width: 469.733px;


}

.titlurecenzii {

    color: var(--Black, #232536);
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 100% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.noutate {
    margin-top: 15px;
    color: va(--Black, #232536);
    font-family: "Sen";
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 126.316% */
    letter-spacing: -2px;
    text-align: left;
}

.paragraftext {
    color: var(--Black, #232536);

    /* Body 1 */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    text-align: left;
    text-transform: none;
}


.textdreapta {
    text-align: left;
    color: var(--Black, #232536);

    /* Heading H4 */
    font-family: "Sen";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
}

.avatar {
    width: 48px;
    height: 48px;
}

.stanga {
    display: flex;
    justify-content: center;

}

.numeavatar {
    margin-top: 5px;
}

.dreapta {
    margin-left: 60px;
}

.btnreca {
    width: 50px;
    border-radius: 50px;
    height: 48px;
    flex-shrink: 0;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.btnrec {
    width: 60px;
    border-radius: 50px;
    height: 60px;
    flex-shrink: 0;
    background-color: #47495a;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.btnrec:hover {
    transition: 0.5s;
    background-color: #232536;
   
}


.ciuvak {
    margin-top: 60px;
    display: flex;

    justify-content: space-between;
}

.tudarec {
    width: 25px;
    height: 25px;
}

.siudarec {
    width: 45px;
    height: 25px;
}